# Django
# ------------------------------------------------------------------------------
django<6  # pyup: < 5.0  # https://www.djangoproject.com/
# Django REST Framework
djangorestframework==3.15.1  # https://github.com/encode/django-rest-framework
django-cors-headers==4.3.1  # https://github.com/adamchainz/django-cors-headers
djangorestframework-simplejwt==5.3.1  # https://github.com/jazzband/djangorestframework-simplejwt
django-filter==2.4.0  #
# DRF-spectacular for api documentation
drf-spectacular==0.27.2  # https://github.com/tfranzel/drf-spectacular

requests==2.32.3  # https://pypi.org/project/requests/
ipdb==0.13.13  # https://github.com/gotcha/ipdb